* {
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;

  }


  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  background-image: linear-gradient(to right, #434343 0%, rgba(53, 53, 53, 0.75) 100%);
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  background-image: linear-gradient(to right, #434343 0%,rgba(53,53,53 0.75) 100%);
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  background: none;
}



/* Change color on hover */
.sidenav a:hover {
  background-image: linear-gradient(to left, #dadada 0%, white 100%);
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background: none;
}

.content h1{

  font-size: 30;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  background: none;
}

.content p{
  font-weight: lighter;
  padding-top: 10px;
  background: none;
  width: 100%;
}
.content a {
  background: none;
  color: blue;
  padding: 16px;
  text-decoration: none;
  display: block;
}
/* Style the footer */
.footer {
  padding: 10px;
}

img {
  box-shadow: 3px 3px,0px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}